.calculator-border{
    background-color: #549ca8;
    width: 230px; 
    margin: auto;
    justify-content: center;
    padding: 50px;
    margin-top: 60px;
    /* background-color: #f3cfc6b0; */
    border: 1px solid #541f08;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgba(95, 95, 95, 0.247);
}

.calculator-wrapper {
    /* background-color: lightcoral; */
    margin: auto; 
    align-items: center;
    justify-content: center;
    width: 300px;
    overflow: hidden;
}

.calculator {
    margin: auto; 
    justify-content: center;
    align-items: center;
}