.result-wrapper{
    width: 207px;
    height: 100px;
    text-align: right;
    right: auto;
    background-color: #ced6cb;;
    border: 7px double #541f08;
    border-radius: 20px;
    padding: 3px; 
    margin-left: 3px; 
}
