.calculator-border{
    background-color: rgb(130, 203, 206);
    height: 400px;
    width: 207px; 
    margin: auto;
    justify-content: center;
    border-radius: 20px;
    padding: 50px;
    margin-top: 120px;
}

.calculator-wrapper {
    /* background-color: lightcoral; */
    margin: auto; 
    align-items: center;
    justify-content: center;
    width: 300px;
    /* height: 400px; */
    /* border-radius: 2px solid black;
    border-radius: 15px; */
    overflow: hidden;
}

.calculator {
    margin: auto; 
    justify-content: center;
    align-items: center;
}

button {
    justify-content: center;
    text-decoration: none;
    appearance: none;
    outline: none; 
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 1px;
    font-size: 20px; 
    cursor: pointer; 
    transition: 0.2s; 

}

button:hover {
    background-color: palevioletred;
}

.numbers {
    display: flex; 
    flex-wrap: wrap;
    flex: 30%;
    max-width: 80%;
}

.operators {
    flex: 30%;
    max-width: 80%;
}

.clear {
    width: 206px;
    background-color: plum;

}